HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/gradle/

### SWAGGER ###
.travis.yml

### GIT ###
git_push.sh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### MAVEN ###
restclient.iml

### Spring Shell ###
spring-shell.log